<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../angular-1.6.2/angular.min.js"></script>
</head>
<body ng-app="myApp">
	<!-- View(视图), 即 HTML -->
	<div ng-controller="myCtrl">
		<p>{{name}}</p>
	</div>
	<br>
	<div ng-controller="myCtrl">
		<input type="text" name="name" ng-model="name">
		<h1>{{greeting}}</h1>
		<button ng-click="sayHello()">点我</button>
	</div>
	<br>
	<div  ng-controller="myCtrl2">
		<ul>
		    <li ng-repeat="x in names">{{x}}</li>
		</ul>
		<button ng-click="sayBye()">再见</button>
	</div>
	<script type="text/javascript">
		/**
		* myApp Module
		*
		* Description
		*/
		/*Model(模型), 当前视图中可用的数据*/
		angular.module('myApp', [])
		/*Controller(控制器), 即 JavaScript 函数，可以添加或修改属性*/
		/*scope是模型,它是一个 JavaScript 对象，带有属性和方法，这些属性和方法可以在视图和控制器中使用*/
		.controller('myCtrl', ['$scope', function(a){
			a.name = "bmw";
			a.sayHello = function(){
				a.greeting = 'Hello ' + a.name + ' !';
			};
		}])
		.controller('myCtrl2', ['$scope',function($scope) {
		    $scope.names = ["Emil", "Tobias", "Linus"];
		    $scope.sayBye = function(){
		    	console.log($scope.);
			};
		}]);
	</script>
</body>
</html>